#circularG{
    position:relative;
    width:128px;
    height:128px}

.circularG{
    position:absolute;
    background-color:#000000;
    width:29px;
    height:29px;
    -moz-border-radius:19px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:1.92s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:19px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:1.92s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:19px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:1.92s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:19px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:1.92s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:19px;
    animation-name:bounce_circularG;
    animation-duration:1.92s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:50px;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#circularG_2{
    left:14px;
    top:14px;
    -moz-animation-delay:0.96s;
    -webkit-animation-delay:0.96s;
    -ms-animation-delay:0.96s;
    -o-animation-delay:0.96s;
    animation-delay:0.96s;
}

#circularG_3{
    top:0;
    left:50px;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -o-animation-delay:1.2s;
    animation-delay:1.2s;
}

#circularG_4{
    right:14px;
    top:14px;
    -moz-animation-delay:1.44s;
    -webkit-animation-delay:1.44s;
    -ms-animation-delay:1.44s;
    -o-animation-delay:1.44s;
    animation-delay:1.44s;
}

#circularG_5{
    right:0;
    top:50px;
    -moz-animation-delay:1.68s;
    -webkit-animation-delay:1.68s;
    -ms-animation-delay:1.68s;
    -o-animation-delay:1.68s;
    animation-delay:1.68s;
}

#circularG_6{
    right:14px;
    bottom:14px;
    -moz-animation-delay:1.92s;
    -webkit-animation-delay:1.92s;
    -ms-animation-delay:1.92s;
    -o-animation-delay:1.92s;
    animation-delay:1.92s;
}

#circularG_7{
    left:50px;
    bottom:0;
    -moz-animation-delay:2.16s;
    -webkit-animation-delay:2.16s;
    -ms-animation-delay:2.16s;
    -o-animation-delay:2.16s;
    animation-delay:2.16s;
}

#circularG_8{
    left:14px;
    bottom:14px;
    -moz-animation-delay:2.4s;
    -webkit-animation-delay:2.4s;
    -ms-animation-delay:2.4s;
    -o-animation-delay:2.4s;
    animation-delay:2.4s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}

}


@font-face {
    font-family: 'osbold';
    src: url('../font/opensans-condbold-webfont.eot');
    src: url('../font/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-condbold-webfont.woff') format('woff'),
         url('../font/opensans-condbold-webfont.ttf') format('truetype'),
         url('../font/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oslight';
    src: url('../font/opensans-condlight-webfont.eot');
    src: url('../font/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-condlight-webfont.woff') format('woff'),
         url('../font/opensans-condlight-webfont.ttf') format('truetype'),
         url('../font/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oslightitalic';
    src: url('../font/opensans-condlightitalic-webfont.eot');
    src: url('../font/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-condlightitalic-webfont.woff') format('woff'),
         url('../font/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('../font/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'oslight', Arial, Tahoma, sans-serif;
  font-weight: normal;
}

h2{
  color: #2A83ED;
}

a{
  color: #2A83ED;
}

a:hover{
  color: #333;
}

.nav-btn {
    color: #2A83ED;
}

.nav-btn:active,
.nav-btn:hover{
    color: #2A83ED;
}

#nav .block-title {
  padding: 0.7em 0.5em 0.6em;
  font-family: 'oslight',Arial,Tahoma,sans-serif;
  text-align: center;
}

#nav li a {
    color: #FFFFFF;
    display: block;
    font-family: 'oslight',Arial,Tahoma,sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    outline: medium none;
}

#nav li.is-active > a {
  color: #fff;
  border-left: 4px solid #FFFFFF;
}

#top {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #2A83ED;
    color: #2A83ED;
    position: relative;
}

#top .block-title {
  font-family: 'oslight',Arial,Tahoma,sans-serif;
  color: #2A83ED;
}

#top .nav-btn {
  top: 0.7em;
  left: 0.5em;
}

#main .block {
  padding: 1em 1em;
}

footer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #2A83ED;
  padding: 1em 0;
}

footer > div {
    text-align: center;
}

footer > div > a {
    border: 1px solid #2A83ED;
    border-radius: 50% 50% 50% 50%;
    color: #2A83ED;
    display: inline-block;
    font-size: 2em;
    padding: 0.5em;
}

footer > div > a i {
    display: inline-block !important;
    height: 25px !important;
    line-height: 1.1 !important;
    width: 25px !important;
}

footer > div > a:hover{
  background: #2A83ED;
  color: #fff;
}

.bx-controls-direction {
    opacity: 0.3;
}

.box {
    font-size: 0.85em;
    text-align: justify;
}

.box .icon {
    margin: 30px 0;
    text-align: center;
}

.box .icon i {
    border: 2px solid #2A83ED;
    border-radius: 50% 50% 50% 50%;
    color: #2A83ED;
    font-size: 2em;
    padding: 0.7em;
}

#nav ul {
  margin-left: 0;
}

#nav li ul li:last-child{
  border-bottom: none;
}

#nav li.is-active:after {
  z-index: 50;
  display: block;
  position: absolute;
  top: 1em;
  border-top: 0.625em transparent solid;
  border-bottom: 0.625em transparent solid;
  border-right: 0.625em white solid;
}

#nav li a {
  padding: 0.5em 1.2em;
}

.js-ready #nav {
  background: #2A83ED;
}

button, .button {
    background-color: #2A83ED;
    border-color: #2A83ED;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25em;
    padding: 0.75em 1.5em 0.8125em;
    position: relative;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}

button.secondary, .button.secondary {
    background-color: #FFFFFF;
    border-color: #2A83ED;
    color: #2A83ED;
}

.button-group button, .button-group .button {
    border-radius: 0 0 0 0;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #FFFFFF;
    color: #2A83ED;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: #2A83ED;
    color: #FFFFFF;
}

ul, ol {
    margin-left: 25px;
}

#top .block {
    padding: 1em 1.25em;
}

#nav li ul li a{
  padding-left: 1.8em;
}

.label {
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    color: #2A83ED;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1;
    padding: 0.1875em 0.625em 0.25em;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.label.success {
    background-color: #2A83ED;
    color: #FFFFFF;
}

.alert-box {
    background-color: #FFFFFF;
    border-color: #2A83ED;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #2A83ED;
    display: block;
    font-size: 0.875em;
    font-weight: normal;
    margin-bottom: 1.25em;
    padding: 0.6875em 2.7em 0.75em 0.6875em;
    position: relative;
    line-height: 1.3;
}

.alert-box .close{
  color: #2A83ED;
  font-size: 2em;
  opacity: 1;
}

.alert-box.blue {
    background-color: #2A83ED;
    border-color: #2A83ED;
    color: #FFFFFF;
}

.alert-box.blue .close,
.alert-box.alert .close,
.alert-box.success .close{
  color: #fff;
}

.progress-title {
    font-size: 0.9em;
    font-style: italic;
    margin: 0 0 1px 5px;
}

.progress-count {
    font-family: 'oslight',Arial,Tahoma,sans-serif;
    font-size: 1.3em;
}

.progress.radius .meter,
.progress.radius{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.progress.radius .meter{
  background-color: #2A83ED;
}

.progress {
    height: 0.7em;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
  border: none;
  border-bottom: 1px solid #2A83ED;
  box-shadow: none;
  background-color: #FFF;
  color: #2A83ED;
  font-family: 'oslight', Arial, Tahoma, sans-serif;
  font-size: 1.3em;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background: none repeat scroll 0 0 #2A83ED;
    border-color: #2A83ED;
    box-shadow: none;
    color: #FFFFFF;
    outline: medium none;
}

form.custom .custom {
    border: 1px solid #2A83ED;
    width: 20px;
    height: 20px;
}

form.custom .custom.radio.checked:before {
    background: none repeat scroll 0 0 #2A83ED;
    width: 12px;
    height: 12px;
}

form.custom .custom.disabled {
    background: none repeat scroll 0 0 #2A83ED;
}

form.custom .custom.checkbox.checked:before {
    color: #2A83ED;
    margin-left: -7px;
}

form.custom .custom.checkbox:before {
    font-size: 24px;
}

.error input, 
.error textarea, 
.error select {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

.alert input, 
.alert textarea, 
.alert select {
  background-color: rgba(238, 165, 62, 0.1);
  border-color: #EEA53E;
  margin-bottom: 0;
}

.info input, 
.info textarea, 
.info select {
  background-color: rgba(44, 156, 196, 0.1);
  border-color: #2C9CC4;
  margin-bottom: 0;
}

.mfp-close:hover,
.mfp-close:focus,
.mfp-arrow:hover, .mfp-arrow:focus {
    background: transparent;
}

ul.pagination li.current a {
  background: none repeat scroll 0 0 #2A83ED;
  border-radius: 4px 4px 4px 4px;
}

ul.pagination li:hover a,
ul.pagination li a:focus {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.section-container.auto > section > .title, 
.section-container.auto > .section > .title, 
.section-container.vertical-tabs > section > .title, 
.section-container.vertical-tabs > .section > .title, 
.section-container.vertical-nav > section > .title, 
.section-container.vertical-nav > .section > .title, 
.section-container.horizontal-nav > section > .title, 
.section-container.horizontal-nav > .section > .title, 
.section-container.accordion > section > .title, 
.section-container.accordion > .section > .title {
    background-color: #2A83ED;
    border: 1px solid #2A83ED;
}

.section-container.auto > section > .title:hover, 
.section-container.auto > .section > .title:hover, 
.section-container.vertical-tabs > section > .title:hover, 
.section-container.vertical-tabs > .section > .title:hover, 
.section-container.vertical-nav > section > .title:hover, 
.section-container.vertical-nav > .section > .title:hover, 
.section-container.horizontal-nav > section > .title:hover, 
.section-container.horizontal-nav > .section > .title:hover, 
.section-container.accordion > section > .title:hover, 
.section-container.accordion > .section > .title:hover {
    background-color: #2A83ED;
}

.section-container.auto > section.active > .title, 
.section-container.auto > .section.active > .title, 
.section-container.vertical-tabs > section.active > .title, 
.section-container.vertical-tabs > .section.active > .title, 
.section-container.vertical-nav > section.active > .title, 
.section-container.vertical-nav > .section.active > .title, 
.section-container.horizontal-nav > section.active > .title, 
.section-container.horizontal-nav > .section.active > .title, 
.section-container.accordion > section.active > .title, 
.section-container.accordion > .section.active > .title {
    background: none repeat scroll 0 0 #FFFFFF;
}

.section-container.auto > section > .content, 
.section-container.auto > .section > .content, 
.section-container.vertical-tabs > section > .content, 
.section-container.vertical-tabs > .section > .content, 
.section-container.vertical-nav > section > .content, 
.section-container.vertical-nav > .section > .content, 
.section-container.horizontal-nav > section > .content, 
.section-container.horizontal-nav > .section > .content, 
.section-container.accordion > section > .content, 
.section-container.accordion > .section > .content {
    background-color: #FFFFFF;
    border: 1px solid #2A83ED;
    padding: 0.9375em;
}

.section-container.auto > section > .title:hover, 
.section-container.auto > .section > .title:hover, 
.section-container.vertical-tabs > section > .title:hover, 
.section-container.vertical-tabs > .section > .title:hover, 
.section-container.vertical-nav > section > .title:hover, 
.section-container.vertical-nav > .section > .title:hover, 
.section-container.horizontal-nav > section > .title:hover, 
.section-container.horizontal-nav > .section > .title:hover, 
.section-container.accordion > section > .title:hover, 
.section-container.accordion > .section > .title:hover {
    background-color: #2A83ED;
}

.section-container.auto > section > .title a, 
.section-container.auto > .section > .title a, 
.section-container.vertical-tabs > section > .title a, 
.section-container.vertical-tabs > .section > .title a, 
.section-container.vertical-nav > section > .title a, 
.section-container.vertical-nav > .section > .title a, 
.section-container.horizontal-nav > section > .title a, 
.section-container.horizontal-nav > .section > .title a, 
.section-container.accordion > section > .title a, 
.section-container.accordion > .section > .title a {
    color: #FFFFFF;
}

.section-container.auto > section.active > .title:hover a, 
.section-container.auto > .section.active > .title:hover a, 
.section-container.vertical-tabs > section.active > .title:hover a, 
.section-container.vertical-tabs > .section.active > .title:hover a, 
.section-container.vertical-nav > section.active > .title:hover a, 
.section-container.vertical-nav > .section.active > .title:hover a, 
.section-container.horizontal-nav > section.active > .title:hover a,
.section-container.horizontal-nav > .section.active > .title:hover a, 
.section-container.accordion > section.active > .title:hover a, 
.section-container.accordion > .section.active > .title:hover a {
    color: #FFFFFF;
}


@media only screen and (max-width: 650px) {
  .read-more .button{
    width: 100%;
    float: none;
  }
}