<div id="postSlots" ng-controller="homeController">
    <div id="templater" style="display:block" ng-repeat="post in content.posts" >
        <div id="postTemplate">
            <div class="container">
                <div class="blog-post">
                    <!--<div class="post-image">
                        <img class="blog-post-image" src="images/blog/1.jpg" alt="img">
                    </div>-->
                    <img class="blog-post-image" src="{{post.thumbnail_images.full.url}}" alt="img">
                    <div class="post-content">
                        <h5 class="uppercase" ng-bind-html-unsafe="post.title"></h5>
                        <div ng-bind-html-unsafe="post.excerpt">

                        </div>
                    </div>

                    <div class="post-details">
                        <!--<a class="posted-by" href="#">admin</a>
                        <a class="posted-at" href="#">2 days ago</a>
                        <a class="posted-cat" href="#">HTML5 / CSS3</a>
                        <a class="posted-tag" href="#">framework, devs</a>-->
                        <a class="posted-more" href="#/view/{{post.id}}">Lire l'article</a>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <div class="decoration"></div>
        </div>
    </div>
</div>