<div id="postSlots">
    <section class="block prose blog-list" >

        <article class="row" ng-repeat="post in content.posts">
            <div class="small-3 columns">
                <h2 ng-bind-html="post.title"></h2>
                <!--<div class="date">25.06.2013</div>-->
            </div>
            <div class="row">
                <div class="prev-img large-1 columns">
                    <a href="article.html">
                        <img src="{{post.thumbnail_images.full.url}}" alt="IMG">
                    </a>
                </div>
                <div class="large-2 columns">
                    <p  ng-bind-html="post.excerpt"></p>
                    <div class="read-more">
                        <a href="#/view/{{post.id}}" class="button small right">Lire l'article</a>
                    </div>
                </div>
            </div>
        </article>

    </section>
</div>